.info-pill {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.1rem 0.25rem;
    max-width: fit-content;
    width: 100%;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 500;
}
