@typeparam TItem where TItem : ISelectableItem

@if (SelectedId != 0)
{
    <button @onclick="Toggle">@]</button>
}
else
{
    <button @onclick="Toggle">@Title</button>
}

@if (IsToggle && Items != null)
{
    @foreach (var item in Items)
    {
        <ISelectableItemDropdownItem Item="item"
                                     IsSelected="Equals(item.Id, SelectedId)"
                                     OnSelected="() => Select(item.Id)" />
    }
}

@code {
    [Parameter]
    public required string Title { get; set; }

    [Parameter]
    public required List<TItem> Items { get; set; }

    [Parameter]
    public int? SelectedId { get; set; }

    [Parameter] 
    public EventCallback<int?> SelectedChanged { get; set; }

    private bool IsToggle { get; set; } = false;

    private void Toggle() => IsToggle = !IsToggle;

    private async Task Select(int id)
    {
        IsToggle = false;

        if (Equals(id, SelectedId))
        {
            await SelectedChanged.InvokeAsync(default);
        }
        else
        {
            await SelectedChanged.InvokeAsync(id);
        }
    }
}
