.input-area {
    display: flex;
    flex-direction: column;
    align-self: start;
    gap: 0.1rem;
    width: 100%;

    .title {
        font-size: 1.2rem;
    }

    .input-container {
        display: flex;
        padding: 0.15rem 0.25rem;
        width: 100%;
        box-sizing: border-box;
        background-color: var(--secondary-container);
        border: solid 3px var(--secondary-container-border);
        border-radius: 10px;
        color: var(--on-secondary-container);

        .input {
            all: unset;
            resize: vertical;
            width: 100%;
            min-height: 8rem;
            background-color: var(--secondary-container);
            color: var(--on-secondary-container);
            font-size: 1.2rem;
            line-height: 1.4rem;
            border-radius: 10px;
            padding: 0.2rem 0;
            overflow-y: auto;
            white-space: pre-wrap;
            overflow-wrap: break-word;
            word-break: break-word;

            &:focus {
                outline: none;
            }
        }
    }

    .validation-message {
        font-size: 1rem;
    }
}
