.component {
    display: flex;
    flex-direction: column;
    align-self: start;
    gap: 0.1rem;
    width: 100%;
    color: var(--on-primary);

    .title {
        font-size: 1rem;
    }

    .input-container {
        display: flex;
        flex-direction: row;
        padding: 0.15rem 0.25rem;
        gap: 0.5rem;
        width: 100%;
        height: fit-content;
        box-sizing: border-box;
        background-color: var(--secondary-container);
        border: solid 3px var(--on-secondary-container-border);
        border-radius: 10px;
        color: var(--on-secondary-container);

        .input {
            all: unset;
            width: 100%;
            background-color: var(--secondary-container);
            color: var(--on-secondary-container);
            font-size: 1rem;
            border-radius: 10px;
            font-size: 0.8rem;

            &:focus {
                outline: none;
            }
        }

        .show-password-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
        }
    }

    .validation-message {
        font-size: 0.7rem;
    }
}
