@if (Selected != null)
{
    <button @onclick="Toggle">@Selected.FirstName @Selected.LastName</button>
}
else
{
    <button @onclick="Toggle">@Title</button>
}

@if (IsToggle && Users != null)
{
    @foreach (var user in Users)
    {
        <UserDropdownItem User="user"
                          IsSelected="Equals(user, Selected)"
                          OnSelected="() => Select(user)" />
    }
}

@code {
    [Parameter]
    public required string Title { get; set; }

    [Parameter]
    public required List<AppUser> Users { get; set; }

    [Parameter]
    public AppUser? Selected { get; set; }

    [Parameter] 
    public EventCallback<AppUser?> SelectedChanged { get; set; }

    private bool IsToggle { get; set; } = false;

    private void Toggle() => IsToggle = !IsToggle;

    private async Task Select(AppUser user)
    {
        IsToggle = false;

        if (Equals(user, Selected))
        {
            await SelectedChanged.InvokeAsync(null); 
        }
        else
        {
            await SelectedChanged.InvokeAsync(user);
        }
    }
}