@page "/"
<PageTitle>Main page</PageTitle>

@if (!LoaderService.IsLoading)
{
    <div class="bugs-page">
        <div class="title">
            BUGS
        </div>
        <BugList Bugs="Bugs"></BugList>
    </div>
}

@code {
    [Inject] private NavigationService NavigationService { get; set; } = default!;
    [Inject] private UserState UserState { get; set; } = default!;
    [Inject] private LoaderService LoaderService { get; set; } = default!;
    [Inject] private BugsClient BugsClient { get; set; } = default!;
    [Inject] private ToastService ToastService { get; set; } = default!;

    private List<BugDTO> Bugs { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await UserState.EnsureAuthenticatedAsync(NavigationService);
        LoaderService.Show();
        await Task.Delay(3500);
        await LoadDataAsync();
    }

    private async Task LoadDataAsync()
    {
        var response = await BugsClient.GetAllBugsAsync();
        Bugs = response.Data;
        LoaderService.Hide();
    }
}
