@page "/"

<PageTitle>Index</PageTitle>
<button class="btn btn-primary" @onclick="GoToBugCreation">Create Bug</button>

@if (IsLoading)
{
    <div>Loading...</div>
}
else
{
    @if (Bugs != null)
    {
        @foreach (var bug in Bugs)
        {
            <BugListItem Bug="bug"></BugListItem>
        }

    }
}

@code {
    [Inject] private NavigationManager NavigationManager { get; set; } = default!;
    [Inject] private UserState UserState { get; set; } = default!;
    [Inject] private BugClient BugsClient { get; set; } = default!;

    private bool IsLoading = true;

    private List<Bug>? Bugs { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (!UserState.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/login");
        }
        await LoadDataAsync();
        IsLoading = false;
    }

    private async Task LoadDataAsync()
    {
        Bugs = await BugsClient.GetAllAsync();
    }

    private void GoToBugCreation()
    {
        NavigationManager.NavigateTo("/create-bug");
    }
}
