@inject HttpClient httpClient

@page "/"

<PageTitle>Index</PageTitle>
<button class="btn btn-primary" @onclick="GoToBugCreation">Create Bug</button>

@if (bugs?.Any() == true)
{
    @foreach (var bug in bugs)
    {
        <BugListItem Bug="bug"></BugListItem>
    }
}
else
{
    <p>Loading or no bugs found...</p>
}

@code {
    [Inject] private NavigationManager NavigationManager { get; set; } = default!;

    private void GoToBugCreation()
    {
        NavigationManager.NavigateTo("/create-bug");
    }

    private List<Bug>? bugs = new();

    protected override async Task OnInitializedAsync()
    {
        bugs = await httpClient.GetFromJsonAsync<List<Bug>>("/api/bugs");
    }
}
