@page "/users"

@if(IsLoading)
{
    <div>Loading...</div>
}
else
{
        <UserList Users="Users"></UserList>
}

@code {
    [Inject] private NavigationService NavigationService { get; set; } = default!;
    [Inject] private UserState UserState { get; set; } = default!;
    [Inject] private AppUserClient AppUsersClient { get; set; } = default!;
    [Inject] private ToastService ToastService { get; set; } = default!;

    private bool IsLoading = true;

    private List<AppUser>? Users { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (!UserState.IsAuthenticated)
        {
            NavigationService.NavigateToLoginPage();
        }

        await LoadDataAsync();
        IsLoading = false;
    }

    private async Task LoadDataAsync()
    {
        Users = await AppUsersClient.GetAllAsync();
    }
}
