@page "/users"

@if(IsLoading)
{
    <div>Loading...</div>
}
else
{
    <UserList Users="Users"></UserList>
}

@code {
    [Inject] private NavigationService NavigationService { get; set; } = default!;
    [Inject] private UserState UserState { get; set; } = default!;
    [Inject] private AppUsersClient AppUsersClient { get; set; } = default!;
    [Inject] private ToastService ToastService { get; set; } = default!;

    private bool IsLoading = true;
    private List<AppUserDTO> Users { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        if (!UserState.IsAuthenticated)
        {
            NavigationService.NavigateToLoginPage();
            return;
        }

        await LoadDataAsync();
        IsLoading = false;
    }

    private async Task LoadDataAsync()
    {
        var response = await AppUsersClient.GetAllUsersAsync();
        Users = response.Data;
    }
}
