@inherits LayoutComponentBase

<div class="wrapper">
    @if (UserState.IsAuthenticated)
    {
        <header>
            @if (NavigationService.GetCurrentPath() != "/")
            {
                <div class="button-wrapper">
                    <Button Id="home-button" Text="Home" OnClick="() => NavigationService.NavigateToHomePage()" />
                </div>

            }
            @if (NavigationService.GetCurrentPath() == "/")
            {
                <div class="button-wrapper">

                    <Button Id="create-bug-button" Text="Create new bug"
                            OnClick="() => NavigationService.NavigateToCreateBugPage()" />
                </div>
            }
            <div class="button-wrapper">

                <Button Id="logout-button" Text="Logout" OnClick="Logout" />
            </div>
        </header>
    }
    <ToastHost />
    <Loader />
    <main>
        @Body
    </main>
</div>


@code {
    [Inject] private NavigationService NavigationService { get; set; } = default!;
    [Inject] private UserState UserState { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await UserState.LoadUserAsync();
    }

    private async Task Logout()
    {
        await UserState.ClearUserAsync();
        NavigationService.NavigateToLoginPage();
    }
}