@inherits LayoutComponentBase

@if (UserState.IsAuthenticated)
{
    <header>
        <button @onclick="Logout">Logout</button>
    </header>
}
<ToastHost />
<main>
    <Loader />
    @Body
</main>

@code {
    [Inject] private NavigationService NavigationService { get; set; } = default!;
    [Inject] private UserState UserState { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await UserState.LoadUserAsync();
    }

    private async Task Logout()
    {
        await UserState.ClearUserAsync();
        NavigationService.NavigateToLoginPage();
    }
}