@inherits LayoutComponentBase

<main>
    <button @onclick="() => NavigationService.NavigateToHomePage()">Bugs</button>
    <button @onclick="() => NavigationService.NavigateToUsersPage()">Users</button>
    <button @onclick="Logout">Logout</button>
    <ToastHost />
    @Body
</main>

@code {
    [Inject] private NavigationService NavigationService { get; set; } = default!;
    [Inject] private UserState UserState { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await UserState.LoadUserAsync();
    }

    private async Task Logout()
    {
        await UserState.ClearUserAsync();
        NavigationService.NavigateToLoginPage();
    }
}