<div class="toast @GetCssClass(ToastMessage.Level)">
    <div class="title">
        <i class="fa-solid @GetIconClass(ToastMessage.Level)"></i>
        @(ToastMessage.Title ?? ToastMessage.Level.ToString())
    </div>
    <div>
        @ToastMessage.Message
    </div>
</div>

@code {
    [Inject] private ToastService ToastService { get; set; } = default!;

    [Parameter] public ToastMessage ToastMessage { get; set; } = default!;

    private int _autoDismissDelay = 3 * 1000; // 3 seconds
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(_autoDismissDelay);
        ToastService.RemoveToast(ToastMessage.Id);
    }

    private string GetCssClass(ToastLevel level) => level switch
    {
        ToastLevel.Info => "toast-info",
        ToastLevel.Success => "toast-success",
        ToastLevel.Warning => "toast-warning",
        ToastLevel.Error => "toast-error",
        _ => "toast-info"
    };

    private string GetIconClass(ToastLevel level) => level switch
    {
        ToastLevel.Info => "fa-circle-info",
        ToastLevel.Success => "fa-circle-check",
        ToastLevel.Warning => "fa-triangle-exclamation",
        ToastLevel.Error => "fa-circle-xmark",
        _ => "toast-info"
    };
}