<div style="background-color:@User.Role?.Color">
    <div>
        @User.Id
    </div>
    <div>
        @User.FirstName @User.LastName
    </div>
</div>

@code {
    [Parameter]
    public required AppUserDTO User { get; set; }

}
