<div>
    <p>@Title</p>
    <div>
        <input type="text"
               placeholder="@Placeholder"
               value="@Value"
               @oninput="OnValueChanged" />
    </div>
    @if (!string.IsNullOrWhiteSpace(ValidationMessage))
    {
        <div>
            @ValidationMessage
        </div>
    }
</div>

@code
{
    [Parameter]
    public string? Title { get; set; }
    [Parameter]
    public string? Placeholder { get; set; }
    [Parameter]
    public string? Value { get; set; }
    [Parameter]
    public string? ValidationMessage { get; set; }
    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    private async Task OnValueChanged(ChangeEventArgs e)
    {
        Value = e.Value?.ToString();
        await ValueChanged.InvokeAsync(Value);
    }
}
