<span class="badge" style="background-color: '@Color';">@Title</span>

@code
{
    [Parameter] public string Title { get; set; } = "Badge";
    [Parameter] public string Color { get; set; } = "gray";
}