<div>
    <p>@Title</p>
    <div>
        <textarea placeholder="@Placeholder"
                  value="@Value"
                  @oninput="OnValueChanged" />
    </div>
</div>

@code
{
    [Parameter]
    public string Title { get; set; } = "Title";
    [Parameter]
    public string Placeholder { get; set; } = "Enter";
    [Parameter]
    public string? Value { get; set; }
    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    private async Task OnValueChanged(ChangeEventArgs e)
    {
        Value = e.Value?.ToString();
        await ValueChanged.InvokeAsync(Value);
    }
}