@if (Bugs != null)
{
    <div class="bug-list">
        @foreach (var bug in Bugs)
        {
            <BugListItem Bug="bug"></BugListItem>
        }
    </div>
}
else
{
    <div class="no-bugs-message">No bugs found</div>
}

@code {
    [Parameter]
    public List<BugDTO> Bugs { get; set; } = new List<BugDTO>();
}
