@if (Bugs != null)
{
    @foreach (var bug in Bugs)
    {
        <BugListItem Bug="bug"></BugListItem>
    }
}
else
{
    <div>No bugs found</div>
}

@code {
    [Parameter]
    public List<BugDTO> Bugs { get; set; } = new List<BugDTO>();
}
